@model List<GestionDocumental.Models.ListViewPersona>

<p>
    @Html.ActionLink("Nueva Persona", "Create")
</p>

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Sede
        </th>
        <th>
            Ciudad
        </th>
        <th>
            Funciones
        </th>
        <th>
            Estado
        </th>
    </tr>
    
    

</table>

