@{
    ViewBag.Title = "Denegado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel-body">
    <div class="text-center">
        <div class="alert alert-danger">
            <h2 class="display-4">@ViewBag.Message</h2>

        </div>

    </div>

</div>
